{% extends "base_login.html" %}
{% load static %}
{% block container %}

<form class="form-signin" action="/account/login/" method="post">
  {% csrf_token %}
      <img class="mb-4" src="{% static 'img/logo2.png' %}" alt="" width="300" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Por favor inicia sesión</h1>
      <label>Username</label>
      {{ form.username }}
      <label>Password</label>
      {{ form.password }}
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
      <p class="mt-5 mb-3 text-muted">&copy; Azucarera La Grecia S.A. de C.V. 2018</p>
<div class="alert alert-danger" role="alert">
  Password y/o username incorrectos
</div>
</form>
{% endblock %}