{% extends "base.html" %}

{% load static %}

{% block navtop %}

<nav style="background-color:#F89827" class="navbar fixed navbar-expand-lg navbar-dark">
  <img src="{% static 'img/Imagen1.png' %}" width="50" height="50" alt="">
  <a class="navbar-brand" href="{% url 'index' %}">Pantaleon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a style="color:#FFFFFF;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario: {{uausuario}} <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu form-inline" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/account/blockscreen/">Bloquear Pantalla</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/account/logout/">Cerrar Sesión</a>
          </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span style="color:#FFFFFF;" class="navbar-text">
    {{uanombrecompleto}}
  </span>
    </form>
    
  </div>
</nav>

{% endblock %}
{% block container %}
<div class="container">
  
</div>
{% endblock %}
{% block footer %}
   
{% endblock footer %}